header{
    background: #4a493c;
    border: 10px solid #999999;
    padding: 20 px;
    text-align: center;
    color:rgb(234, 255, 0);
}

nav{
    background: #CCCCCC;
    padding: 5px 15px;
}

nav li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
    text-align: center;
}

body{
    text-align: center;
    background-color: #767575;
}

section{
    float: left;
    width: 70%;
    margin: 20px;
    text-align: justify;
}
aside{
    float: right;
    width: 20%;
    margin: 20px 0px;
    padding: 20px;
    background: #99cc9e;
    text-align: justify;
}

article{
   background: #FFFBCC;
   border: 1px solid #999999;
   padding: 20px;
   margin-bottom: 15px; 
}

footer{
    clear:both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}

article img{
    float: right;
    margin: 0px 10px;
}

article footer{
    text-align: right;
    border-top: 2px solid #999999;
}